@model DocumentManagementSystem.ViewModels.DocumentVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>View Document Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Document" asp-action="Index">Document</a></li>
                    <li class="breadcrumb-item active">View Document Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row center">
            <!-- left column -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">

                        <h3 class="profile-username text-center">@Html.DisplayNameFor(model => model.Subject)</h3>
                        <p class="text-muted text-center">@Html.DisplayFor(model => model.Subject)</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.DocumentTypeName)</b> <span class="float-right"> @Html.DisplayFor(model => model.DocumentTypeName)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.DocumentDate)</b> <span class="float-right"> @Model.DocumentDate.Value.ToShortDateString()</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.SerialNumber)</b> <span class="float-right"> @Html.DisplayFor(model => model.SerialNumber)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.Year)</b> <span class="float-right"> @Html.DisplayFor(model => model.Year)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.Remarks)</b> <span class="float-right"> @Html.DisplayFor(model => model.Remarks)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.UserName)</b> <span class="float-right"> @Html.DisplayFor(model => model.UserName)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.CreatedDate)</b> <span class="float-right"> @Html.DisplayFor(model => model.CreatedDate)</span>
                            </li>
                            <li class="list-group-item">
                                <b>@Html.DisplayNameFor(model => model.UpdatedDate)</b> <span class="float-right"> @Html.DisplayFor(model => model.UpdatedDate)</span>
                            </li>
                        </ul>

                        <div class="row mb-2 col-sm-12">
                            <a class="btn btn-secondary btn-block" asp-action="DownloadFile" asp-route-id="@Model.ID"><i class="fa fa-download"></i>&nbsp;Download</a>
                        </div>
                        <div class="row mb-2 col-sm-12">
                            <div class="col-sm-6">
                                <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-default btn-block float-right" asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<style>
    li.list-group-item:hover {
        background-color: silver;
    }
</style>