@model IEnumerable<DocumentManagementSystem.ViewModels.DocumentVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Document List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                    <li class="breadcrumb-item active">Document List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <h3 class="card-title">Document List</h3>
                                <a class="btn btn-primary float-right" asp-action="Create">Add</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Year)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Subject)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DocumentTypeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DocumentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>Download</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentTypeName)

                                        </td>
                                        <td>
                                            @item.DocumentDate.Value.ToShortDateString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary btn-block" asp-action="DownloadFile" asp-route-id="@item.ID"><i class="fa fa-download"></i></a>
                                            </td>
                                        <td>
                                            <div class="btn-group">
                                                @* <button type="button" class="btn btn-default">Action</button> *@
                                                <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                    Action <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu" style="">
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                                    <a class="dropdown-item"href="#" data-toggle="modal" data-target="#confirmationDialog">Delete</a>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmationDialog" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you Sure?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to Delete selected Document?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ID">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.card -->
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>
